
.DS_Store

*.pdf_downloads/

*.csv

*.printed.pdf
*.gs.pdf
*.sips.pdf
*.cups.pdf
*_test.pdf


*.convertapi.pdf
*.convertapi_ocr.pdf
*.ocrmypdf_nr.pdf
*.ocrmypdf.pdf
*.ocrmypdf_redo.pdf
*.ocrmypdf_r400.pdf
*.r.pdf
*.raster_ocr.pdf

# ^ *.convertapi_ocr.pdf is the correct suffix