
.DS_Store

*.pdf_downloads/

*.csv

*.printed.pdf
*.gs.pdf
*.sips.pdf
*.cups.pdf
*_test.pdf


*.convertapi.pdf
*.convertapi_ocr.pdf
*.convertapi_pdf.pdf
*_rasterize.pdf
*.ocrmypdf_nr.pdf
*.ocrmypdf.pdf
*.ocrmypdf_redo.pdf
*.ocrmypdf_r400.pdf
*.ocrmypdf_r600.pdf

*.r250.pdf
*.r400.pdf
*.r600.pdf
*.r800.pdf

*_r250.pdf
*_r400.pdf
*_r800.pdf

*.r.pdf
*.raster_ocr.pdf
*_decrypt.pdf
*.decrypted.pdf
*_ocrmypdf.pdf

*.annot.pdf
* annot.pdf
* crop.pdf



*.pdf.txt




# ^ *.convertapi_ocr.pdf is the correct suffix